/* build time:Fri Aug 18 2023 16:53:49 GMT+0800 (中国标准时间)*/
.invert{filter:invert(100%);-webkit-filter:invert(100%)}.blur{filter:blur(1px);-webkit-filter:blur(1px)}.grayscale{filter:grayscale(100%);-webkit-filter:grayscale(100%)}
/* rebuild by neat */